/* --- Textarea generics --- */
textarea {
    resize: none;
    border: none;   
    overflow: auto;
 }
 
 
 
 /* ----- The Modal (background) ----- */
 #modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  
  /* ----- Modal Content/Box ----- */
  #modal-content {
      width: 80%;
      height: 40rem;
      display: grid;
      padding: 1rem;
      margin: 5rem auto;
      border-radius: 0.5rem;
      grid-template-columns: 1fr;
      background-color: rgba(248, 249, 249, 1);
      grid-template-rows: 15% 70% 15%;  
  }
  
    #modal-content-title {    
       display: grid;    
       font-size: 1.3rem;
       align-items: center;
       grid-template-columns: 95% 5%;
       border-bottom: 0.1rem solid rgba(56, 142, 60, 1);
    }
       #modal-content-title textarea {
          margin-left: 1rem;
          background-color: rgba(248, 249, 249, 1);
       }

#modal-question-answer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 40% 10% 40%;
    align-items: center;
    padding: 1rem;
}
    #modal-question-answer label{
        font-size: 1.1rem;
        height: 95%;
        width: 95%;
    }

    #modal-question-answer textarea{        
        width: 95%;
        font-size: 1.2rem;
        background-color: rgba(248, 249, 249, 1);
        resize: none;        
    }


#divButtonCloseModal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;    
    border-top: 0.1rem solid rgba(56, 142, 60, 1);
}
 
 .btnCloseModal {        
    width: 6rem;
    height: 3.5rem;
    font-size: 0.9rem;
    padding: 0.1rem;
    text-transform: uppercase;
    color: white;    
    background-color: #9c27b0;
    border-color: #9c27b0;
    border-radius: 0.2rem;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
 }
    .btnCloseModal:hover {
       cursor: pointer;               
       font-weight: bold;
    }
